* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #faf7f5;
    color: #333;
}

.header {
    background: #ffffff;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    padding: 55px 0;
}

.header .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 1.8rem;
    color: #8a4a4a;
}

.nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    transition: 0.2s;
}

.nav ul li a:hover {
    color: #8a4a4a;
}

.produto-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 50px auto;
}

.produto-imagem img {
    width: 400px;
    border-radius: 20px;
    display: block;
}

.produto-info {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 30px; 
}

.produto-info h1 {
    font-size: 2rem;
    color: #8a4a4a;
}

.produto-info .produto-descricao {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
}

.produto-info .produto-valor {
    font-size: 1.2rem;
    font-weight: bold;
    color: #8a4a4a;
}

.produto-info a {
    display: inline-block;
    text-decoration: none;
    background-color: #df8f8f;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    width: max-content;
    margin-top: 10px;
}

.produto-info a:hover {
    background-color: #c67171;
}

.footer {
    background:  #c27b7b;
    color: #fff;
    padding: 40px 20px;
    margin-top: 50px;
}
.footer h4{
  color: #5e2e2e;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.footer-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer p {
    margin-bottom: 8px;
}

.footer a {
    text-decoration: none !important;
}

.footer .icon-img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: middle;
    filter: brightness(0) invert(1);
}

.social-icon img {
    width: 32px;
    margin-right: 10px;
}

.social-icon img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    margin-top: 35px;
    text-align: center;
    border-top: 1px solid #ffffff55;
    padding-top: 15px;
    font-size: 0.9rem;
}