<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Agendar: {{ produto.nome }}</h2>

    <form method="POST">
      {% csrf_token %} Nome:<br />
      <input type="text" name="nome" required /><br /><br />

      Telefone:<br />
      <input type="text" name="telefone" required /><br /><br />

      Data:<br />
      <input type="date" name="data" required /><br /><br />

      Hora:<br />
      <input type="time" name="hora" required /><br /><br />

      <button type="submit">Enviar para WhatsApp</button>
    </form>
  </body>
</html>
